.residence-state {
	color: #008000;
}

.qualification-section .requirement {
	font-weight: bold;
}

.result {
	margin-top: 40px;
}

.result-controls {
	height: 38px;
	line-height: 38px;
}

.result-controls a {
	text-decoration: none;
}

.result-controls a:hover {
	color: #4bc2e7;
}

.total-row td {
	border-top: 1px solid #444;
	border-bottom: none;
}

.taxpayer-fields tr:nth-last-child(3) td {
	border: none;
}

.taxpayer-fields {
	display: none;
}

.taxpayer-fields.show {
	display:table;
}

.qualification-section .toggle-calculations {
	margin-bottom: 2.5rem;
}
