.container {
	max-width: 1080px;
	min-width: 800px;
	min-height: 600px;
	margin: 100px auto 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding-bottom: 200px;
}

.result-container {
	max-width: 600px;
	min-width: inherit;
}

.result-container h1 {
	font-size: 3rem;
	text-align: center;
}

.step {
	width: 100%;
	max-width: 80%;
}

.animate-opacity {
	transition: opacity .2s;
}

nav {
	position: absolute;
	max-width: 80%;
	width:100%;
	bottom:0px;
	display: flex;
	justify-content: space-between;
  align-items: center;
}

.confirmation-option {
	margin-right: 16px;
}

.return-field {
	position: relative;
}

.return-field select {
	display: block;
}

.return-field.error input,
.return-field.error select {
	border-color: red;
}

.return-field .error {
	display: inline-block;
	color: red;
	margin-bottom: 0px;
	transition: opacity .1s;
	opacity: 0;
}

.return-field.error .error {
	opacity: 1;
}

.return-field label {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 0px;
}

.return-field input,
.return-field select {
	margin-top:10px;
}

.nav-status {
	display: flex;
	align-items: center;
}

.nav-status .dot {
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background: #eeeeee;
	transition: background .1s, color .1s, transform .1s;
	margin: 0 6px;
	display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0,0,0,.3);
  font-size: .3rem;
	cursor: pointer;
}

.nav-status .dot:hover {
	background: #f4f4f4;
}

.nav-status .dot.active {
	cursor: default;
	pointer-events: none;
	background: #33C3F0;
	color: rgba(255,255,255,.7);
	transform: scale(1.2,1.2);
}
