.container {
	max-width: 1080px;
	min-height: 100vh;
	margin: 0 auto 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding-bottom: 100px;
}

.result-container {
	max-width: 80%;
	min-width: inherit;
}

.result-container h1 {
	font-size: 3rem;
	text-align: center;
}

.container > header > button {
	float: right;
}

.container > header {
	width: 100%;
  max-width: 80%;
	margin-top: 30px;
}

.container > header h1 {
	font-size: 3rem;
	margin-bottom: 0;
}

.step {
	width: 100%;
	max-width: 80%;
	margin-top: 50px;
	min-height: 450px;
}

.step .introText {
	font-size: 2rem;
  text-align: center;
  letter-spacing: 0.03rem;
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .step {
		max-width: 100%;
	}
}

.animate-opacity {
	transition: opacity .2s;
}

nav {
	position: absolute;
	max-width: 80%;
	width:100%;
	bottom:20px;
	display: flex;
	justify-content: space-between;
  align-items: center;
}

@media (min-height: 800px) {
  nav {
		position: relative;
		margin-top:100px;
		bottom: auto;
	}
}

@media (max-height: 600px) {
  .step {
		min-height: auto;
		margin-top: 20px;
	}
}

.confirmation-option {
	margin-right: 16px;
}

.return-field {
	position: relative;
}

.return-field select {
	display: block;
}

.return-field.error input,
.return-field.error select {
	border-color: red;
}

.return-field .error {
	display: inline-block;
	color: red;
	margin-bottom: 0px;
	transition: opacity .1s;
	opacity: 0;
}

.return-field.error .error {
	opacity: 1;
}

.return-field label {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 0px;
}

.return-field input,
.return-field select {
	margin-top:10px;
}

.return-field .helper-text {
	margin: 4px 0px 0px 0;
  font-size: 12px;
  color: #888;
}

.nav-status {
	display: flex;
	align-items: center;
}

.nav-status .dot {
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background: #eeeeee;
	transition: background .1s, color .1s, transform .1s;
	margin: 0 6px;
	display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0,0,0,.3);
  font-size: .3rem;
	cursor: pointer;
}

.nav-status .dot:hover {
	background: #f4f4f4;
}

.nav-status .dot.active {
	cursor: default;
	pointer-events: none;
	background: #33C3F0;
	color: rgba(255,255,255,.7);
	transform: scale(1.2,1.2);
}

.vita-confirmation {
	position: absolute;
	left: 0;
	top: 12px;
	transition: opacity .2s;
}

.vita-confirmation input {
	margin: 0 5px 0 0;
}

.vita-confirmation label {
	display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
	font-weight: normal;
}

.vita-confirmation.hidden {
	opacity: 0;
	pointer-events: none;
}

footer {
	position: absolute;
	bottom: 5px;
	width: 100%;
	max-width: 80%;
	display: flex;
	justify-content: center;
}

footer p {
	margin-bottom: 0;
}

footer p a {
	text-decoration: none;
	color: #ccc;
	font-size: 12px;
}
